* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.header {
  background-color: #898989;
  display: flex;
  height: 30vh;
  flex-direction: row;
  align-items: center; }
  .header a {
    margin: 2vh;
    width: 150px;
    position: relative;
    top: 4vh; }
  .header h2 {
    font-size: 80px;
    font-weight: bold;
    color: white;
    position: relative;
    top: 6vh;
    left: 3vh; }
  .header nav {
    position: relative;
    top: 5vh;
    left: 35vh;
    list-style-type: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer; }
    .header nav ul {
      display: flex;
      list-style: none;
      justify-content: center; }
      .header nav ul a {
        text-decoration: none;
        color: white;
        font-size: 30px;
        margin-left: 10px; }
      .header nav ul li :hover {
        font-style: italic;
        color: #5DA271; }

#mainBlog {
  color: white;
  background-color: darkolivegreen; }

footer {
  width: 100%;
  background-color: blue;
  color: darkgoldenrod;
  height: 10vh; }

.btnGrande {
  font-size: 26px;
  padding: 20px;
  background-color: cadetblue; }

.btnMediano {
  font-size: 18px;
  padding: 15px;
  background-color: cadetblue; }
