* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.header {
  background-color: #898989;
  display: flex;
  height: 25vh;
  flex-direction: row;
  align-items: center; }
  .header a {
    margin: 2vh;
    position: relative;
    left: 2.5vh;
    top: 2vh; }
    .header a img {
      width: 20vh; }
  .header h2 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    position: relative;
    top: 2vh;
    left: 2vh; }
  .header nav {
    position: relative;
    top: 2.5vh;
    left: 60vh;
    list-style-type: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer; }
    .header nav ul {
      display: flex;
      list-style: none;
      justify-content: center; }
      .header nav ul a {
        text-decoration: none;
        color: black;
        font-size: 30px;
        margin-left: 10px; }
      .header nav ul li :hover {
        font-style: italic;
        color: #5DA271; }

.bodyIndex {
  height: 100vh;
  background-color: #5DA271; }
  .bodyIndex h1 {
    font-size: 1.5em;
    font-style: none;
    color: black;
    background-color: #D4A0A7;
    text-align: center;
    margin-bottom: 10px; }
  .bodyIndex iframe {
    height: 60vh;
    width: 100vh;
    border: solid 15px #5DA271;
    margin-left: 25%; }

.bodyRecipes {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.fondoRecipes {
  background-image: url("../img/fondoRecipes.jpg");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat; }

.sectionRecetas {
  display: flex;
  align-items: stretch;
  margin: 40px;
  padding: 30px;
  justify-content: space-evenly;
  align-content: flex-end;
  flex-direction: column; }

h3 {
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center; }

.tartas {
  display: flex; }

.muffins {
  display: flex; }

footer {
  background-color: #898989;
  height: 10vh; }
  footer ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0 20px;
    transition: transform 0, 5s;
    font-size: 2rem;
    cursor: pointer; }
    footer ul a {
      text-decoration: none;
      color: black;
      padding: 4px;
      margin: 4px; }
    footer ul a:hover {
      background-color: #898989;
      transform: scale(1.2);
      color: #5DA271;
      border-radius: 50%; }

.btnGrande {
  font-size: 26px;
  padding: 20px;
  background-color: cadetblue; }

.btnMediano {
  font-size: 18px;
  padding: 15px;
  background-color: cadetblue; }
