* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

//VARIABLES
@import './utilidades/colores';


//IMPORTACIONES
@import './header-footer/header';
@import './secciones/index';
@import './secciones/recipes';
@import './header-footer/footer';
@import './utilidades/botones';
