footer {
    background-color: $grisOscuro;
    height: 10vh;
        ul {
            display: flex;
            justify-content: flex-end;
            list-style-type: none;
            margin: 0 20px;
            transition: transform 0, 5s;
            font-size: 2rem;
            cursor: pointer;
                a {
                text-decoration: none;
                color: black;
                padding: 4px;
                margin: 4px;
                }
                a:hover {
                    background-color: $grisOscuro;
                    transform: scale(1.2);
                    color: $verde;
                    border-radius: 50%;
                }
        }
}