.bodyIndex {
    height: 100vh;
    background-color: $verde;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
        h1 {
            font-size: 1.5em;
            font-style: none;
            color: white;
            background-color: $rosa;
            text-align: center;
            margin-bottom: 10px;
        }
        iframe {
            height: 60vh;
            width: 100vh;
            border: solid 15px $verde;
            margin-left: 25%;
            }
}

