// #main {
//     background-color: black;
//     h1 {
//         color: wheat;
//     }
//     div {
//         color: $verde;

//             a {
//                 color: white;
//                 background-color: cadetblue;
//                 padding: 10px;
//                 font-size: 35px;
//                 &:hover{
//                     background-color: crimson;
//                 }
//             }
//     }
// }

.bodyIndex {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
        h1 {
            font-size: 1.5em;
            font-style: none;
            color: white;
            background-color: $rosa;
            text-align: center;
        }
        iframe {
            display: inline-block;
            border: solid 15px $verde;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 36%;
        }
}

